<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>13.250.155.79</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.2</string>
            </dict>
            <key>18.143.226.69</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionMinimumTLSVersion</key>
                <string>TLSv1.2</string>
            </dict>
        </dict>
    </dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>Light</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Light</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Grey</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Grey</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Dark</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Dark</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
